  
<html>
  <head>
  </head>
  <body>

    <form method="Post">
      <input name="title" size = 40 ><br>
      <textarea name="text" rows="10" cols="80">

      </textarea><br>
      <input type=submit>
      
      
    </form>
  </body>
</html>